// Mixins para media queries
@mixin respond-to($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

// Mixin hover
@mixin hover-effect($color) {
  &:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background-color: lighten($color, 10%);
    opacity: 0.9;
  }
}

@mixin responsive-font-size($large, $small) {
  @media (min-width: 1200px) {
    font-size: $large;
  }
  @media (max-width: 1199.98px) {
    font-size: $small;
  }
}