// Variables de colores
$color-primary: #003532;
$color-secondary: #475D2E;
$color-background: #000000;
$color-text: #ffffff;

// Variables de fuentes
$font-primary: "Cormorant Garamond", serif;
$font-secondary: "Lora", serif;