@use "../utilities/variables";

.bodyTres {
  font-family: variables.$font-secondary;
  background-image: url(../assets/img/backg-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: variables.$color-text;
}

.listaContacto {
  font-family: variables.$font-secondary;
  font-size: 1rem;
}

.pagContacto {
  font-size: 16px;
  font-family: variables.$font-secondary;
}

.contenedorContac {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  max-width: 80%;
  margin: auto;
  padding: 20px;
}

.contenedorForm {
  width: 100%; 
  text-align: left;
}

.tituloUno {
  margin-bottom: 20px; 
}

.listaContacto {
  margin-bottom: 20px;
}

.listaContacto label {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
  width: 100%; 
  max-width: 400px; 
}

.input-largo,
.textarea-largo {
  width: 100%; 
  max-width: 400px; 
  background-color: variables.$color-text;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.textarea-largo {
  height: 195px;
}

#terminos {
  width: 15px;
  height: 15px;
}

input[type="submit"] {
  width: 200px; 
  font-size: 12px; 
  padding: 5px 10px; 
}

.footer-cont {
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.contenedFoot {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pagContacto ul {
  list-style: none;
  padding: 0;
}

.pagContacto li {
  font-size: 20px;
  margin-bottom: 5px;
}

.pagContact a {
  color: variables.$color-text;
  text-decoration: none;
}