@use "../utilities/variables";

// Responsive para tours
@media (max-width: 768px) {
  .contenedorCards {
    grid-template-columns: repeat(2, 1fr); 
  }

  .cardTours {
    height: 480px; 
  }

  .cardTours .contenidoTours {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .contenedorCards {
    grid-template-columns: 1fr; 
  }

  .cardTours {
    height: auto; 
  }

  .cardTours .contenidoTours {
    padding: 10px;
    text-align: center;
  }

  .tituloCard {
    font-size: 1.5rem;
  }
}

// Responsive texto tours
@media (max-width: 768px) {
  .cardTours .contenidoTours {
    padding: 15px;
    text-align: center;
    font-size: 0.9rem; 
  }

  .tituloCard {
    font-size: 1.6rem; 
  }
}

@media (max-width: 480px) {
  .cardTours .contenidoTours {
    padding: 10px;
    text-align: center;
    font-size: 1rem; 
  }

  .tituloCard {
    font-size: 1.4rem; 
  }
}
