@use "../utilities/variables";
@use "../utilities/mixins";

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cardDestino {
  font-family: variables.$font-secondary;
  border-style: groove;
  width: 100%; 
  max-width: 300px; 
  height: 450px; 
  background-color: variables.$color-text;
  margin: 20px;
  text-align: center;
  border-radius: 63px; 
  overflow: hidden; 
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.hover-effect(variables.$color-primary);
}

.cardDestino img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.cardDestino h3,
.cardDestino span {
  position: absolute; 
  width: 100%;
  text-align: center;
  color: variables.$color-text; // Cambio realizado para que el texto sea blanco
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}

.cardDestino h3 {
  top: 30px; 
  font-size: 1.8rem;
}

.cardDestino span {
  bottom: 20px;
  font-size: 1.2rem;
}
